.form-group{
    display: inline-block;
}
.form-group input,
.form-group select{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.form-group select{
    background-color: white;
}
.form-group button{
    padding: 10px 15px;
    background-color: midnightblue;
    color: white;
    border-radius: 5px;
    border: none;
}
.data table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
}
.data table {
    border-collapse: collapse;
    width: 100%;
}
.data th, td {
    padding: 15px;
}
.error-msg{
    display: block;
    color: red;
}
.error-msg.active{
    padding: 10px 0;
}
.btn-delete{
    cursor: pointer;
    background: #e74c3c;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}